#main_nav{
  background-color: #f44336;
}

main{
  background-color: #b71c1c;
  color: white;
}

table{
  background-color: #ef5350 !important;
}

a,tr{
  color: white !important;
}

.mdl-data-table tbody tr:hover {
    background-color: #ef9a9a;
}
